@use '@/app/base';

.hero {
	// min-height: 100vh;
	// padding-top: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;

	h1 {
		text-align: center;

		b {
			color: base.$color-highlight;
		}
	}

	.subtitle {
		width: 40%;
	}

	p {
		text-align: center;

		span {
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}

@media screen and (max-width: 1024px) {
	.hero {
		h1 {
			font-size: 3.2rem;
		}

		p {
			width: 100%;
		}
	}
}

@media screen and (max-width: 768px) {
	.hero {
		h1 {
			font-size: 2rem;
		}

		.subtitle {
			width: 100%;
		}
	}
}
