@use '@/app/base';

.platform {
	min-height: auto;
}

.platformContent {
	display: grid;
	grid-template-columns: repeat(12, minmax(auto, 1fr));
	grid-gap: 2rem;
	align-items: center;

	h2 {
		margin-bottom: 1.2rem;
	}

	p {
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.5;
		color: base.$color-light;
	}
}

.platformText {
	grid-column: span 6;
}

.platformImage {
	grid-column: span 6;
	aspect-ratio: 16 / 10;
	filter: drop-shadow(-1rem 1rem 10px rgba(black, 0.5));
}

@media screen and (max-width: 1024px) {
	.platformContent {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.platformImage {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
}
